.barra{
    display: flex;
    background-color:rgb(20, 17, 204);
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
}

.logotipo{
    color:#ffff;
    font-size: 35px;
}

.logotipo:hover{
    color:#ffff;
}

.barra-container{
    display: flex;
    justify-content: end;
    margin-left:70px;
}

.barra-container-item{
    color:#ffff;
    margin:10px;
    font-weight: bold;
    font-size: large;
}